<web-app id="WebApp_ID" version="2.5"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
    <display-name>springmvc</display-name>
    <distributable/>
	
	 <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

	<!-- static_resources开头的路径，默认链接静态资源文件 -->
	<servlet-mapping>  
		<servlet-name>default</servlet-name>  
		<url-pattern>/static_resources</url-pattern>  
	</servlet-mapping>  

	<!-- spring mvc配置开始  -->
	<!-- 
	Springmvc本质上就是一个Servlet,DispatcherServle就是Springmvc的入口。
	在配置DispatcherServle的时候可以设置contextConfigLocation来指定springmvc配置文件的位置，
	如果不配置，默认使用WEB-INF/[ServletName]-servlet.xml
	 -->
	<servlet>
	    <servlet-name>go</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	    	<param-name>contextConfigLocation</param-name>
	    	<param-value>/WEB-INF/springcfg/*-servlet.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>go</servlet-name>
	    <url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>product</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	    	<param-name>contextConfigLocation</param-name>
	    	<param-value>/WEB-INF/springcfg/product-servlet.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>product</servlet-name>
	    <url-pattern>/*pro</url-pattern>
	</servlet-mapping>
	<!-- spring mvc配置结束  -->
	
</web-app>
